
*.log
*.pth
*.bin
/COD_FPS_TEMP/Saved
/COD_FPS_TEMP/Saved
/COD_FPS_TEMP/Saved
/COD_FPS_TEMP/Saved
/COD_FPS_TEMP/Saved
/COD_FPS_TEMP/Saved/Config
/COD_FPS_TEMP/Saved/Config/CrashReportClient
/COD_FPS_TEMP/Saved
/COD_FPS_TEMP/Intermediate
/COD_FPS_TEMP/Intermediate/PipInstall
/COD_FPS_TEMP/Intermediate/PipInstall/Lib
/COD_FPS_TEMP/Saved/Logs
*.log
COD_FPS_TEMP/Intermediate/CachedAssetRegistry_0.bin
COD_FPS_TEMP/Saved/AutoScreenshot.png
COD_FPS_TEMP/Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
COD_FPS_TEMP/Saved/Logs/COD_FPS_TEMP-backup-2025.01.17-02.50.21.log
COD_FPS_TEMP/Saved/Logs/COD_FPS_TEMP.log
